<div class="page-container">
  <h1>Witaj świecie sztucznej inteligencji!</h1>
  <h3>
    Nie ważne czy jesteś studentem czy pasjonatem sztucznej inteligencji, to
    właściwe miejsce, aby zgłębić tajniki i zrozumieć rekurencyjne sieci
    neuronowe
  </h3>
  <h2>Co oferujemy?</h2>
  Dowiesz się, jak działają RNN, czym różnią się od zwykłych sieci neuronowych,
  jakie mają wady i zalety. Przedstawimy Ci przykłady zastosowań i wskażemy
  następny potencjalny krok w kierunku zrozumienia bardziej złożonych modeli. Na
  sam koniec w części praktycznej będziesz mieć możliwość stworzenia i
  przetestowania krok po kroku własnej sieci neuronowej, i to bez opuszczania
  przeglądarki.

  <h2>Dlaczego warto?</h2>
  Sztuczna inteligencja ogarnia coraz więcej aspektów naszego życia, a sieci
  neuronowe są podstawowym składnikiem wielu potężnych modeli. Jeśli chcesz być
  aktywną częścią rozwoju AI i być może rozpocząć karierę w tej dziedzinie to
  dokładne zrozumienie RNN i jej konceptów jest kluczowe i pomoże Ci zrozumieć
  bardziej skomplikowane modele

  <div class="bottom-nav">
    <div></div>
    <a routerLink="/what-are-RNN">
      <button nz-button nzType="primary" click="routerlink">
        Czym są sieci RNN
        <span nz-icon nzType="right"></span>
      </button>
    </a>
  </div>
</div>
