h1,
h2,
h3 {
  color: #444;
}

.bottom-nav {
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image-container {
  width: 100%;
  align-items: center;
  text-align: center;
  img {
    max-width: 100%;
  }
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .page-container {
    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 16px;
    }
  }
}
