<h1>Co dalej?</h1>
<h2>
  Istnieje wiele typów sieci neuronowych, a RNN są tylko krokiwm w kierunku
  bardziej zaawansowanych modeli. Następnym krokiem może być rozszerzenie wiedzy
  o LSTM (Long Short-Term Memory), które niweluje wiele minusów zwykłych
  rekurencyjnych sieci neuronowych
</h2>

<div class="bottom-nav">
  <a routerLink="/for-what">
    <button nz-button nzType="primary">
      <span nz-icon nzType="left"></span>
      Zastosowanie
    </button>
  </a>
  <a routerLink="/practice">
    <button nz-button nzType="primary">
      Proste RNN
      <span nz-icon nzType="right"></span>
    </button>
  </a>
</div>
